/* =========================
    色変数
========================= */
@use "common" as *;


.footer {
    background: $main-color;
    color: #fff;
    padding-top: 4rem;

    .footer_inner {
        margin: 0 auto;
        padding: 0 40px;

        .footer_left {
            .footer__brand {
                display: block;
                margin-bottom: 10px;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            .footer__contact {
                font-size: 12px;
                line-height: 1.5;
                letter-spacing: 0.02em;
            }
        }

        .footer_nav {
            display: none;
        }
    }

    .footer_bottom {
        padding: 2rem 0;
        font-size: 12px;
        text-align: center;
    }
}